.container-fluid{
  padding: 0 !important;
}
.barsIcon{
  border: 0;
  background-color: #343a40;
  color: white;
  font-size: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.filter-btn{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: #111111;
  border:none
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  border: none;
  background-color: #111111;
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#dropdownMenuButton{
  position: absolute;
  bottom: 10px;
  border: none;
  left: 30px;
  background-color: #111111;
  font-size: 20px;
  color : whitesmoke;

}
.dropdown-menu{
  border: none;
  background-color: #343a40;
  
}

.dropdown-menu a{
  font-size: 15px;
  text-decoration: none;
  color: whitesmoke;
}

.catAddBtn{
  margin-top: 20px;
  margin-left: 63%;
  margin-bottom: 10px;
}
.login{
  background: #a29f9f;
  padding-top: 160px;
  padding-bottom: 240px;
  
}
.login-box{
  margin: auto;
  padding: 10px;
  width: 320px;
  background-color: whitesmoke;
  height: 370px;
  border-radius: 5%;
}

